.Carousel {
  margin: 3rem;
}
.Carousel-display-image{
  display: flex;
  height: 40rem;
  align-items: center;
  justify-content: space-between;
  background-size: 'contain';
  background-repeat: no-repeat;
  background-position: center;
}
.Carousel-thumbnails{
  overflow-x: scroll;
}
.displayed-image{
  max-width: 80%;
  max-height: 30rem;
  height: auto;
}
.image-thumb {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 200px;
  min-width: 200px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}